@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Red+Hat+Text:wght@300;400;500;600;700&family=Red+Hat+Mono:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    width: calc(min(77.5rem, 100% - 4rem));
    margin-left: auto;
    margin-right: auto;
  }

  .title-dark {
    @apply font-display text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-neutral-900;
  }

  .title-light {
    @apply font-display text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-white;
  }

  .up-title-dark {
    @apply uppercase text-xs text-navy-900 font-semibold;
  }

  .up-title-light {
    @apply uppercase text-xs text-navy-100 font-semibold;
  }

  .card-shadow {
    @apply shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }

  .card {
    @apply bg-gradient-to-b rounded from-white to-neutral-50 border border-neutral-100;
  }
}

.tutorial .description {
  @apply text-neutral-500;
}

.tutorial .description .bullet {
  @apply list-inside list-disc flex flex-col gap-4;
}

.tutorial .description .bullet a {
  @apply text-navy-900 font-semibold tracking-tight underline;
}

.infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.blobing {
  animation: blobing 60s linear alternate infinite;
}

@keyframes blobing {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}
