@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Red+Hat+Text:wght@300;400;500;600;700&family=Red+Hat+Mono:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    width: calc(min(77.5rem, 100% - 4rem));
    margin: 0 auto;
  }
}

.infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
